{% extends 'base.html.twig' %}

{% block title %}Nueva asignatura{% endblock %}

{% block body %}
<section class="card">
    <div class="section-title">
        <h1>Nueva asignatura</h1>
        <a class="btn-secondary" href="{{ path('app_subject_index') }}">Volver</a>
    </div>
    {{ include('subject/_form.html.twig') }}
</section>
{% endblock %}
